################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/M101/week1/SystemCheck/packages
/M101/week1/SystemCheck/src/M101DotNet.WebApp/bin
/M101/week1/SystemCheck/src/M101DotNet.WebApp/obj/Debug
/M101/week4/blog_chapter_4/packages/bootstrap.3.3.2
/M101/week4/blog_chapter_4/packages/jQuery.2.1.3
/M101/week4/blog_chapter_4/packages/Antlr.3.5.0.2
/M101/week4/blog_chapter_4/packages/jQuery.Validation.1.13.1
/M101/week4/blog_chapter_4/packages/Microsoft.AspNet.Mvc.5.2.3
/M101/week4/blog_chapter_4/packages/Microsoft.AspNet.Razor.3.2.3
/M101/week4/blog_chapter_4/packages/Microsoft.AspNet.Web.Optimization.1.1.3
/M101/week4/blog_chapter_4/packages
/M101/week4/blog_chapter_4/src/M101DotNet.WebApp/bin
/M101/week4/blog_chapter_4/src/M101DotNet.WebApp/obj/Debug
